@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root{
    --primary-color: #343837;
    --font-color : white;
    --second-color :  #1F2322;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}
body{
    font-size: 16px;
}
a,ul{
    text-decoration: none;
    list-style: none;
    color: white;
}
img{
    width: 100%;
}
.icon {
    display: none;
}
.header{
    max-width: 100%;
    height: 90px;
    background-color: var(--primary-color);
}
.center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.center ul{
    display: flex;
    list-style: none;
}
.center ul li{
    padding: 20px 10px 10px 10px;
}
a:hover{
    text-decoration: none;
    color: #58656D;
}
.logo:hover{
    text-decoration: none;
    color: #58656D;
}
.logo{
    display: inline-block;
    width: 200px;
    height: 60px;
    color: white;
    font-size: 1.8rem;
    padding: 15px 10px 10px 10px ;
    text-decoration: none;
    align-content: center;
    font-weight: bold;
}
.login{
    display: block;
    width: 100px;
    height: 30px;
    background-color:#0F9B8E;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 3px;
    margin-left: 30px;
    border: 1px solid white;
    border-radius: 5px;
}
.cadastro{  
    display: block;
    width: 100px;
    height: 30px;
    background-color: transparent;
    font-size: 1.5rem;
    padding-top: 3px;
    margin-left: 100px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;

}

.sidebar-img img{
    width: 100%;
    height: 100%;
}
.sidebar-info{
    position: absolute;
    color: white;
    margin: 200px 500px 100px 400px;
    max-width: 900px;
}
.sidebar-info h1{
    margin: 30px 30px 30px 30px;
    width: 500px;
    height: 30px;
    font-size: 4.5rem;
    line-height: 1.5;
}
button{
    width: 150px;
    height: 60px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 180px 30px 30px 150px;
}
footer{
    width: 100%;
    height: 145px;
    text-align: center;
    background-color: var(--second-color);
}
footer p {
    padding-top: 80px;
    padding-bottom: 10px;
    color: white;
}
footer h3{
    padding-top: 100px;
    font-size: 1.4rem;
    text-decoration: none;
}
footer a{
    color: white;
}


@media (min-width: 500px) and (max-width:600px){
    body{
        overflow: auto;
    }
    /*parte do menu de busca ainda falta fazer*/
    .header{
        width: 100%;
        height: 60px;
    }
    .icon{
        display: block;
    }
    .center ul{
        display: block;
        position: absolute;
        width: 100%;
        top: 50px;
        right: 0px;
        background-color: var(--primary-color);
        transition: 0.6s;
        z-index: 1000;
        height: 100vh;
    }
    .center ul.active{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    .center ul a{
        padding: 1rem;
        margin: 10px 30px 0px 30px;
    }
    a:hover{
        text-decoration: none;
        color: #58656D;
    }
    .center{
        
    }
    .login{
        border: none;
        background-color: transparent;
        font-size: 2rem;
        color: #0F9B8E;
        font-weight: bold;
    }
    .cadastro{
        border: none;
        background-color: none;
        font-size: 2rem;
        color: #0F9B8E;
        font-weight: bold;

    }
    /*parte do meio do site ja feita para mobile*/
    .sidebar img{
        width: 100%;
        height: 100vh;
    }
    .sidebar-info{
        width: 50%;
        position: absolute;
        margin: 300px 30px 100px 30px;
    }
    .sidebar-info h1{
        width: 290px;
        font-size: 2.3rem;
        line-height: 1.1;
        margin: 0px 30px 50px 110px;
    }
    button{
        width: 100px;
        height: 50px;
        margin : 30px 160px 30px 170px;
        font-size: 1.3rem;
    }
    footer{
        width: 100%;
        height: 150px;
    }
    footer h3{
        padding-top: 50px;
    }
    footer p {
        padding-top: 60px;
    }
}

@media (min-width:610px) and (max-width: 700px){
    body{
        overflow: auto;
    }
    /*parte do menu de busca ainda falta fazer*/
    .header{
        width: 100%;
        height: 60px;
    }
    .icon{
        display: block;
    }
    .center ul{
        display: block;
        position: absolute;
        width: 100%;
        top: 50px;
        right: 0px;
        background-color: var(--primary-color);
        transition: 0.6s;
        z-index: 1000;
        height: 100vh;
    }
    .center ul.active{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    .center ul a{
        padding: 1rem;
        margin: 10px 30px 0px 30px;

    }
    a:hover{
        text-decoration: none;
        color: #58656D;
    }
    .center{
        
    }
    .login{
        border: none;
        background-color: transparent;
        font-size: 2rem;
        color: #0F9B8E;
        font-weight: bold;
    }
    .cadastro{
        border: none;
        background-color: none;
        font-size: 2rem;
        color: #0F9B8E;
        font-weight: bold;

    }
    /*parte do meio do site ja feita para mobile*/
    .sidebar img{
        width: 100%;
        height: 100vh;
    }
    .sidebar-info{
        width: 50%;
        position: absolute;
        margin: 300px 30px 100px 30px;
    }
    .sidebar-info h1{
        width: 290px;
        font-size: 3rem;
        line-height: 1.1;
        margin: 0px 30px 50px 110px;
    }
    button{
        width: 100px;
        height: 50px;
        margin : 30px 160px 30px 170px;
        font-size: 1.3rem;
    }
    footer{
        width: 100%;
        height: 150px;
    }
    footer h3{
        padding-top: 50px;
    }
    footer p {
        padding-top: 60px;
    }
}

/* MEDIA ABAIXO DE 488PX TELA PARA CELULAR*/
@media (max-width: 490px){
    body{
        overflow: auto;
    }
    /*parte do menu de busca ainda falta fazer*/
    .header{
        width: 100%;
        height: 60px;
    }
    .icon{
        display: block;
    }
    .center ul{
        display: block;
        position: absolute;
        width: 100%;
        top: 50px;
        right: 0px;
        background-color: var(--primary-color);
        transition: 0.6s;
        z-index: 1000;
        height: 100vh;
    }
    .center ul.active{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    .center ul a{
        padding: 1rem;
        margin: 10px 30px 0px 30px;

    }
    a:hover{
        text-decoration: none;
        color: #58656D;
    }
    .login{
        border: none;
        background-color: transparent;
        font-size: 2rem;
        color: #0F9B8E;
        font-weight: bold;
    }
    .cadastro{
        border: none;
        background-color: none;
        font-size: 2rem;
        color: #0F9B8E;
        font-weight: bold;

    }
    .sidebar img{
        width: 100%;
        height: 100vh;
    }
    .sidebar-info{
        width: 50%;
        position: absolute;
        margin: 300px 30px 100px 30px;
    }
    .sidebar-info h1{
        width: 290px;
        font-size: 2.3rem;
        line-height: 1.1;
        margin: 0px 130px 60px 130px;
    }
    button{
        width: 80px;
        height: 50px;
        margin : 60px 160px 30px 130px;
        font-size: 1rem;
    }
    footer{
        width: 100%;
        height: 150px;
    }
    footer h3{
        padding-top: 50px;
    }
    footer p {
        padding-top: 60px;
    }
}
@media (min-width:710px) and (max-width:800px){
    .header{
        width: 100%;
        height: 60px;
    }
    .center{
        display: flex;
        justify-content: space-between;
    }
    .center ul li {
        padding: 8px;
        padding-top: 20px;
        font-size: 1.3rem;
    }
    .login{
        padding-left: 0px;
        margin: 0px 0px 0px 10px;
        font-size: 1.3rem;
    }
   .cadastro{
        margin-left: 30px;
        font-size: 1.3rem;
   }
   .sidebar{
       width: 100%;
   }
   .sidebar-info{
       width: 700px;
       margin: 300px auto 30px auto;
       text-align: center;
   }
   .sidebar img{
        width: 100%;
        height: 900px;
   }
    .sidebar h1{
       font-size: 2.2rem;
       margin:  30px 100px 30px 100px;
   }

   button{
       width: 130px;
       height: 50px;
       font-size: 1.3rem;
        margin: 30px 100px 0px 100px;
   }
   footer{
        width: 100%;
        height: 150px;
   }
} 

@media (min-width: 800px) and (max-width: 900px){
    .header{
        width: 100%;
        height: 60px;
    }
    .center{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .login{
        margin-left: 5px;
    }
    .cadastro{
        margin-left: 30px;
    }
    .sidebar{
        width: 100%;
    }
    .sidebar img{    
        width: 100%;
        height: 900px;
    }
    .sidebar-info{
        width: 800px;
        margin: 300px auto 30px auto;
        text-align: center;
    }
    .sidebar h1{
        font-size: 2.3rem;
        margin:  30px 100px 30px 130px;
    }
    button{
        width: 150px;
        height: 50px;
        margin: 30px 100px 0px 100px;
    }
    footer{
        width: 100%;
        height: 150px;
    }
}
@media (min-width: 900px) and (max-width: 1000px){
    .sidebar{
        width: 100%;
    }
    .sidebar img{
        width: 100%;
        height: 900px;
    }
    .sidebar-info{
        width: 900px;
        margin: 300px auto 30px auto;
        text-align: center;
    }
    .sidebar h1{
        font-size: 2.8rem;
        margin:  30px 100px 30px 210px;
    }
    button{
      margin:  60px 100px 30px 100px;
    }
}

@media (min-width: 1000px) and (max-width: 1100px){
    .sidebar{
        width: 100%;
    }
    .sidebar img{
        width: 100%;
        height: 900px;
    }
    .sidebar-info{
        width: 900px;
        margin: 300px auto 30px auto;
        text-align: center;
    }
    .sidebar h1{
        font-size: 2.8rem;
        margin:  30px 100px 30px 210px;
    }
    button{
      margin:  60px 100px 30px 100px;
    }
}