:root{
    --primary-color: #343837;
    --font-color : white;
    --second-color :  #1F2322;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
    color: var(--font-color);
}
a{
    text-decoration: none;
}
.header{
    max-width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2322;
    color: white;
}
.header ul {
    display:flex;
    list-style: none;
    font-size: 1.2rem;

}
.header ul li{
    padding: 20px;
}
.header ul li a {
    color: white;
    text-decoration: none;

}
.logo{
    display: inline-block;
    width: 180px;
    height: 60px;
    color: white;
    font-size: 1.3rem;
    padding: 10px;
    text-decoration: none;
    align-content: center;
}
.nav-login{
    display: flex;
    list-style-type: none;
    padding-right: 30px;
}
.nav-login a {
    text-decoration: none;
}
.login{
    display: inline-block;
    width: 100px;
    height: 50px;
    font-size: 1.1rem;
    color: white;
    padding-top: 12px;
    background-color:#0F9B8E;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}
.login a {
    text-decoration: none;
    list-style: none;
}
.cadastro a {
    text-decoration: none;
    list-style: none;
}
.cadastro{
    display: inline-block;
    width: 100px;
    height: 50px;
    font-size: 1.1rem;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 10px;
    text-align: center;
    padding-top: 12px;
}

footer{
    width: 100%;
    height: 140px;
    text-align: center;
    background-color: var(--second-color);
}
footer p{
    padding-top: 80px;
    padding-bottom: 10px;
    font-size: 1rem;
    color: white;
}
footer h3{
    padding-top: 100px;
    font-size: 1.4rem;
    text-decoration: none;
}
footer a{
    color: white;
}
